<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208423811526-2g3d9qj25gbd24o4vfec9li68i46eh5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208423811526-2g3d9qj25gbd24o4vfec9li68i46eh5e</string>
	<key>API_KEY</key>
	<string>AIzaSyCwpympmv5dYZ1lHBvoor4ZelzKKQWPRCE</string>
	<key>GCM_SENDER_ID</key>
	<string>208423811526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zcredi.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-2e76b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-2e76b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208423811526:ios:144bd6adaaa6453477dac7</string>
</dict>
</plist>